{% extends 'AdminBundle::layout-inner.html.twig' %}

{% block inner_content %}
    <h1>
        Not verified users
    </h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(users, 'Email', 'User.email') }}</th>
            <th>{{ knp_pagination_sortable(users, 'First Name', 'User.firstName') }}</th>
            <th>{{ knp_pagination_sortable(users, 'Last Name', 'User.lastName') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <a class="btn btn-info btn-block" href="{{-
                        path('admin_userverification_show', { 'id': user.id })
                    -}}">Show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">No data.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock inner_content %}